% AMP sample rabbitmq.config for local broker
[
  {rabbit, [
    {tcp_listen_options,
         [binary,
         {packet,        raw},
         {reuseaddr,     true},
         {backlog,       128},
         {nodelay,       true},
         {linger,        {true, 0}},
         {exit_on_close, false}]
    },
    {tcp_listeners, [{"127.0.0.1", 5672}]},
    {auth_mechanisms, ['PLAIN']},
    {default_user, <<"guest">>},
    {default_pass, <<"guest">>},
    {loopback_users, []}
  ]},
  {kernel, [

  ]}
,
% Additional config
  {amqp_client, 
    [{ssl_options, 
      [
        {versions, ['tlsv1.2']},
        {server_name_indication, "amp-collector"},
        {ciphers,
          [
            {ecdhe_ecdsa,aes_256_gcm,null,sha384},
            {ecdhe_rsa,aes_256_gcm,null,sha384},
            {ecdhe_ecdsa,aes_128_gcm,null,sha256},
            {ecdhe_rsa,aes_128_gcm,null,sha256},
            {ecdhe_ecdsa,aes_256_cbc,sha384,sha384},
            {ecdhe_rsa,aes_256_cbc,sha384,sha384},
            {ecdhe_ecdsa,aes_128_cbc,sha256,sha256},
            {ecdhe_rsa,aes_128_cbc,sha256,sha256}
          ]
        } 
      ]
    }]
  }
].
% EOF
