% AMP sample rabbitmq.config for central collector
[
  {rabbit, [
    {tcp_listen_options,
         [binary,
         {packet,        raw},
         {reuseaddr,     true},
         {backlog,       128},
         {nodelay,       true},
         {linger,        {true, 0}},
         {exit_on_close, false}]
    },
    {tcp_listeners, [{"127.0.0.1", 5672}]},
    {ssl_listeners, [{"0.0.0.0", 5671}]},
    {auth_mechanisms, ['PLAIN', 'EXTERNAL']},
    {ssl_cert_login_from, common_name},

    {ssl_options,
      [
        {cacertfile,"/etc/amppki/cacert.pem"},
        {certfile,"/etc/amppki/server/amppki-cert.pem"},
        {keyfile,"/etc/amppki/server/amppki-key.pem"},
        {verify,verify_peer},
        {fail_if_no_peer_cert,true},
        {honor_cipher_order,true},
        {versions, ['tlsv1.2']},
        {ciphers,
          [
            {ecdhe_ecdsa,aes_256_gcm,null,sha384},
            {ecdhe_rsa,aes_256_gcm,null,sha384},
            {ecdhe_ecdsa,aes_128_gcm,null,sha256},
            {ecdhe_rsa,aes_128_gcm,null,sha256},
            {ecdhe_ecdsa,aes_256_cbc,sha384,sha384},
            {ecdhe_rsa,aes_256_cbc,sha384,sha384},
            {ecdhe_ecdsa,aes_128_cbc,sha256,sha256},
            {ecdhe_rsa,aes_128_cbc,sha256,sha256}
          ]
        }
      ]
    },

    {default_user, <<"guest">>},
    {default_pass, <<"guest">>},
    {loopback_users, []}
  ]},
  {kernel, [

  ]}
,
% Additional config
  {amqp_client, 
    [{ssl_options, 
      [
        {versions, ['tlsv1.2']}, 
        {ciphers,
          [
            {ecdhe_ecdsa,aes_256_gcm,null,sha384},
            {ecdhe_rsa,aes_256_gcm,null,sha384},
            {ecdhe_ecdsa,aes_128_gcm,null,sha256},
            {ecdhe_rsa,aes_128_gcm,null,sha256},
            {ecdhe_ecdsa,aes_256_cbc,sha384,sha384},
            {ecdhe_rsa,aes_256_cbc,sha384,sha384},
            {ecdhe_ecdsa,aes_128_cbc,sha256,sha256},
            {ecdhe_rsa,aes_128_cbc,sha256,sha256}
          ]
        } 
      ]
    }]
  }
].
% EOF
